/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*#e7e9eb
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background-color: #e8f5e9; /* Verde claro suave */
  /*background: #599fd9;
  background: -webkit-linear-gradient(to right, #599fd9, #c2e59c); 
  background: linear-gradient(to right, #599fd9,#599fd9, #c2e59c);*/
  

  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 1rem 0;
  border-bottom: 1px dashed #4b01f8;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.section {
  display: none; /* Ocultar todas as seções por padrão */
}

.section.active {
  display: block; /* Mostrar apenas a seção ativa */
}

.pratique {
  cursor: pointer;
}

.bio {
  margin-left: 80px;
  cursor: pointer;
 }

 .oculto{
  display: none;
 }

 /*Alternar Gráfico 1 */
 .content-div {
  display: none;
  width : 100%;
}
.content-div.active {
  display: block;
}


iframe {
  border: none;
  width: 90%;
  height: 500px; /* Ajuste a altura conforme necessário */
}
.section p {
  text-align: justify;
  overflow: hidden; /* Clearfix para evitar colapsos de flutuação */
  margin-left: 20px; /* Espaçamento entre a imagem e o texto */
}
